.board {
    min-width: 270px;
    max-width: 270px;
    max-height: 100%;
    min-height: 100%;
    /* background-color: rgba(205, 209, 255, 0.4); */
    background-color: #eef2f5;
    /* background-color: rgba(219, 241, 255, 0.4); */
    /* border-left: 4px solid rgba(165, 165, 165, 0.3);
    border-right: 4px solid rgba(165, 165, 165, 0.3); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.board__top {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 7px;
    margin: 10px;
}

.board__top svg {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.board__title {
    font-size: 1em;
    font-weight: 700;
}

.board__card__count {
    margin: 10px;
    font-size: 0.8em;
    padding: 2px 8px;
    background-color: #ebebeb;
    border-radius: 100%;
    color: #4e4e4e;
}

.board__cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    width: 100%;
    padding: 0 10px;
    height: max-content;
    overflow-x: visible;
    overflow-y: scroll;
    background-color: transparent;
    /* overflow-y: scroll;
    max-height: 65%; */
    scrollbar-color: rgba(0,0,0,0.5);
}

::-webkit-scrollbar {
    width: 5px;
    display: none;
}

/* .board__cards::-webkit-scrollbar-track {
    background-color: transparent;
}

.board__cards::-webkit-scrollbar-thumb {
    height: 12px;
    background-color: rgba(85, 85, 243, .2);
    border-radius: 50px;
}
*/

.board__footer {
    margin: 10px;
} 
