.add__card__chip {
    font-size: 0.65em;
    padding: 1px 10px;
    width: fit-content;
    border-radius: 50px;
    transition: 100ms;
    /* border: 2px solid #00eeff; */
    cursor: pointer;
}

.add__card__chip:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
}

.active__add__card__chip {
    transform: scale(1.05);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
}
